{{!-- edit page --}}
<h2 class="card-header">Edit Article</h2>
    <form class="card-body edit-article-form">
        <div class="form-row">
        <label for="article-title" class="form-label">Title</label>
        <input name="article-title" type="text" value="{{editArticle.title}}" class="form-input form-control" id="edit-article-title"/>
        </div>

        <div class="form-row">
        <label class="form-label" for="content">Content</label>
        <textarea name="content" type="text" class="form-input form-control" id="edit-article-content">{{editArticle.content}}</textarea>
        </div>
{{!-- save btn --}}
        <button type="submit" class="btn btn-primary article-edit" data-id="{{editArticle.id}}">Save</button>
{{!-- delete btn --}}
        <button class="btn btn-danger article-list" data-id="{{editArticle.id}}">Delete Article</button>
    </form>

<script src="/js/delete-articles.js"></script>
<script src="/js/edit-articles.js"></script>