<!-- Loop over each object in the articles array -->
{{#each plainArticlesData}}
<div>
    <div class="col-md-5">
        <h2>
            <a href="/articles/{{this.id}}">{{this.title}}</a>
        </h2>

        <p>Created on {{format_date this.createdAt}}</p>
    </div>
    <div>
        <p>
            {{this.content}}
        </p>
    </div>
</div>
{{/each}}