{{!-- New Article Page --}}
        <form class="form new-article-form">
            <div class="form-group">
                <label for="article-title">Article Title:</label>
                <input class="form-input" type="text" id="article-title" name="article-title" />
            </div>
            <div class="form-group">
                <label for="article-content">Content:</label>
                <textarea class="form-input" id="article-content" name="article-content"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>

        <script src="/js/new-article.js"></script>
